@media screen and (max-width: 1300px){
    /* glob */
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }

    /* hero */
    .hero__container {
        background-image: none;
    }

    .main-title {
        max-width: max-content;
    }

    .hero-descr {
        max-width: max-content;
    }

    /* hero after */
    .list-advantage {
        -webkit-box-pack: justify;
           -ms-flex-pack: justify;
         justify-content: space-between;
        padding: 26px;
    }

    .list-advantage__item {
        -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
     max-width: 170px;
     text-align: center;
    }

    .list-advantage__item:not(:last-child) {
        margin-right: 15px;
    }

    .icon-advantage {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1024px){
    .descr {
        font-size: 14px;
    }

    /*services  */
    .services-list__item {
        padding: 77px 16px 29px 20px;
        background-size: auto 36px;
    }

    .services-title {
        margin-bottom: 10px;
        font-size: 18px;
    }

    /* calculator */
    .calc-input {
        padding: 7px 10px;
        font-size: 38px;
    }

    .icon-multiply {
        margin-bottom: 17px;
    }

    .products__card {
        padding: 0;
        padding-top: 280px;
        background-position: center -45px;
        background-size: 65%;
    }

    .card__wrapper {
        width: 100%;
        padding: 30px;
        background-color: #fff;
    }

    /* contacts */
    .contacts {
        margin-bottom: 0;
    }
    
    .container.contacts__container {
        padding-top: 62.5%;
        padding-left: 0;
        padding-right: 0;
        background: url("../img/bg-contact.jpg") no-repeat center top / 100%;
    }

    .contact-grid {
        grid-template-columns: 1fr;
        border-radius: 0;
    }
    
    .contacts__left {
        display: none;
    }

    .contacts__right {
        
    }

    .contact-form {
        max-width: 500px;
        margin: auto;
        padding: 40px 20px 70px;
    }

    .btn-contact {
        width: 100%;
    }

    .btn-contact .span-circle {
        display: none;
    }

    /* contacts */
    .footer-bottom {
             -ms-grid-columns: 1.5fr 1fr 1.5fr;
        grid-template-columns: 1.5fr 1fr 1.5fr;
    }

    .footer-bottom__col:first-child,
    .footer-bottom__col:nth-child(2) {
        display: none;
    }

}

@media screen and (max-width: 992px){
    .icon-cards {
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

@media screen  and (max-width: 768px){
    .section {
        margin-bottom: 70px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-title {
        margin: 0;
        margin-bottom: 30px;
        font-size: 24px;
        text-align: left;
    }

    .descr {
        margin-bottom: 30px;
        margin-left: 0;
        text-align: left;
        line-height: 130%;
    }

    /* header */
    .header__container {
        -webkit-box-pack: justify;
           -ms-flex-pack: justify;
         justify-content: space-between;
        -webkit-box-align: start;
           -ms-flex-align: start;
              align-items: flex-start;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .logo {
        height: 35px;
    }

    .header__contacts {
        margin-left: auto;
    }

    .adress{
        display: none;
    }

    .link-phone {
        position: relative;
        font-size: 0;
    }

    .link-phone::after {
        content: "";
        position: absolute;
        right: 15px;
        width: 36px;
        height: 36px;
        background: url("../img/icon-mob-phone.svg") no-repeat center / contain;
    }

    .header__btn {
        margin-left: 0;
        font-size: 12px;
    }
    
    /* hero */
    .hero {
        max-height: 500px;
        margin-bottom: 0;
    }

    .hero__container {
        padding-bottom: 40px;
    }

    .region {
        margin-bottom: 15px;
        padding-left: 25px;
        font-size: 14px;
    }

    .region::before {
        width: 16px;
    }

    .main-title {
        font-size: 52px;
    }

    .hero-descr {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .btn-hero.btn-circle {
        width: 100%;
        max-width: 400px;
        font-size: 14px;
        color: #000;
        background-color: #fff;
    }

    .span-circle {
        width: 15px;
        height: 17px;
        background-image: url("../img/icon-imprint.svg");
    }

    /* hero after */
    .hero-after {
        top: 0;
        
        background: url("../img/bg-avantage.jpg") no-repeat center / cover;
    }

    .list-advantage {
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
        padding: 60px 0;
        border-radius: unset;
        background: none;
    }

    .list-advantage__item {
           -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
           -ms-flex-direction: row;
               flex-direction: row;
        max-width: initial;
        padding: 15px 27px;
        border-radius: 10px;
        color: #fff;
        text-align: left;
        font-size: 14px;
        background: rgba(0, 0, 0, 0.25);
    }

    .list-advantage__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .icon-advantage {
        height: 22px;
        margin-right: 12px;
        margin-bottom: 0;
        -webkit-filter: invert(1);
                filter: invert(1)
    }

    /* services */
    .services-list {
        gap: 0;
    }

    .services-list__item {
        -ms-flex-preferred-size: auto;
                     flex-basis: auto;
        max-width: calc(100% - 40px);
        height: auto;
    }

    .services-list__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 0; 
    }

    /* calculator */
    .calc-form {
        margin-bottom: 20px;
    }

    .list-inputs {
           -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
        padding: 33px 20px;
        margin-bottom: 23px;
    }

    .list-inputs__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
           -ms-flex-pack: justify;
         justify-content: space-between;
    }

    .list-inputs__item:not(.multiply) {
        width: 100%;
    }

    .multiply {
        display: none;
    }

    .list-inputs__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 27px;
    }

    .label-calc {
        margin-bottom: 10px;
        max-width: 111px;
        font-size: 12px;
    }

    .calc-input {
        width: max-content;
        padding: 0;
        border: none;
        text-align: right;
        font-size: 18px;
    }

    .calc-input::-webkit-inner-spin-button {
        display: none;
    }

    .range-wrapper {
        display: block;
        width: 100%;
    }

    .income {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
           -ms-flex-pack: justify;
         justify-content: space-between;
        margin-bottom: 31px;
        font-size: 13px;
        text-align: left;
    }

    .result {
        padding-left: 17px;
        font-size: 18px;
    }

    .result::before {
        bottom: 4px;
        width: 9px;
        height: 9px;
    }

    .btn-calc {
        width: 100%;
        max-width: 400px;
        margin-left: 0;
        font-size: 14px;
    }

    /* catalog */
    .catalog__container {
        padding-top: 30px;
        padding-bottom: 70px;
        background-image: url("../img/bg-contacts-mob.png")
    }

    .products {
        grid-template: 1fr / 1fr;
        margin-bottom: 20px;
    }

    .card__wrapper {
        padding: 15px 20px 27px;
    }

    .brand {
        margin-bottom: 10px;
    }

    .year-brand {
        top: -7px; 
    }

    .product-title {
        font-size: 20px;
        line-height: 120%;
    }

    .btn-load-more {
        display: none;
    }

    /* conditions */
    .icon-cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0;
    }

    .icon-cards__item {
        max-width: calc(100% - 40px);
        padding: 20px;
        padding-top: 73px;
        background-color: var(--light-blue);
        background-position: 20px 20px;
        background-size: 36px;
        border-radius: 10px;
    }

    .icon-cards-title  {
        max-width: 100%;
    }

    .icon-cards-descr {
        max-width: 100%;
    }

    /* accordion */
    .faq__container {
        padding: 0;
    }

    .accordion__item {
        padding: 20px 20px 0;
        border: none;
        border-radius: 0;
    }

    .accordion__item:not(:last-child) {
        margin-bottom: 0;
    }

    .accordion__item::before {
        background-image: none;
    }

    .accordion__item::after {
        top: -6px;
        background-color: unset;
    }

    .accordion-title {
        margin-bottom: 0;
        padding-right: 64px;
        padding-bottom:25px;
        border-bottom: 1px solid var(--grey);
        font-size: 14px;
        -webkit-transition: border-color .3s linear;
             -o-transition: border-color .3s linear;
                transition: border-color .3s linear;
    }

    .accordion-title:hover {
        border-bottom-color: var(--blue);
    }

    .accordion-title:focus {
        border-bottom-color: var(--blue);
    }

    .accordion-title.ui-accordion-header-active {
        border-bottom-color: transparent;
    }

    .accordion__item.accordion__item_bg-light-blue::after {
        background-color: transparent;
      }

    .faq-title {
        padding-left: 20px;
    }

    .accordion-descr {
        padding-bottom: 25px;
        font-size: 14px;
        border-bottom: 1px solid var(--grey);
    }

    /* contacts */
    .contacts {
        margin-bottom: 0;
    }

    .footer__container {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .footer-top {
        padding-bottom: 30px;
    }

    .footer-bottom__col:nth-child(3) {
        display: none;
    }

    .footer-bottom {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .copyright {
        max-width: inherit;
    }

    .link-bold {
        display: none;
    }

    .link-icon {
        font-size: 0;
    }

    .footer-social {
        -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }
  
    .link {
      padding-left: 20px;
    }
  
    .link:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  
    .footer-bottom__col:last-child {
      -ms-grid-column-align: start;
               justify-self: start;
    }
  
    .footer-bottom-div {
         -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
         -ms-flex-direction: row-reverse;
             flex-direction: row-reverse;
       -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    }

    .link-dev {
        margin-bottom: 0;
    }

    .group-company__title {
        font-size: 12px;
    }

    .group-company__name {
        font-size: 14px;
    }

    .contact-form.contact-form_modal {
        max-width: 320px;
    }
}